<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org" th:fragment="layout(title,content)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">デフォルトタイトル</title>
    <link rel="stylesheet" th:href="@{/css/ress.css}">
</head>

<body>
    <header th:replace="~{layouts/header :: header}"></header>
    <main th:replace="${content}">
        <h1>デフォルトコンテンツ</h1>
    </main>
    <aside th:replace="~{layouts/aside :: aside}"></aside>
    <footer th:replace="~{layouts/footer :: footer}"></footer>
</body>

</html>